:root {
    --universalMargin: 8px;
    --color-nero: #2c2c2c;
    --color-mineShaft:#3e3e3e;
    --color-doveGray:#707070;
    --color-tiaMaria: #ce4e0a;
    --color-guardsManRed:#d20000;
    --color-white: #fff;
}