:root {
    --universalMargin: 16px;
    --layout-verticalTabWidth: 100px;
    --color-nero: #2c2c2c;
    --color-mineShaft:#3e3e3e;
    --color-doveGray:#707070;
    --color-tiaMaria: #ce4e0a;
    --color-guardsManRed:#d20000;
    --color-persimmon: #ff5a5a;
    --color-white: #fff;
}